TEAM_ID =

APP_DISPLAY_NAME = __PROJECT_NAME__
PRODUCT_NAME = iosApp
PRODUCT_BUNDLE_IDENTIFIER = __IOS_BUNDLE_ID__

MARKETING_VERSION = __VERSION__
CURRENT_PROJECT_VERSION = 1

IPHONEOS_DEPLOYMENT_TARGET = 15.0
ARCHS = arm64
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator

CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = $(TEAM_ID)

ENABLE_USER_SCRIPT_SANDBOXING = NO

GENERATE_INFOPLIST_FILE = YES
INFOPLIST_FILE = iosApp/Info.plist
INFOPLIST_KEY_CFBundleDisplayName = $(APP_DISPLAY_NAME)
INFOPLIST_KEY_UIApplicationSceneManifest_Generation = YES
INFOPLIST_KEY_UILaunchScreen_Generation = YES

KMP_FRAMEWORK_NAME = __FRAMEWORK_NAME__
FRAMEWORK_SEARCH_PATHS = $(inherited) $(TARGET_BUILD_DIR)
OTHER_LDFLAGS = $(inherited) -framework $(KMP_FRAMEWORK_NAME)
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
