<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="__PROJECT_NAME__"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name="__PACKAGE__.androidapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
